@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
$font: 'Teko', sans-serif;

body{
    font-family: $font;
    background-color: #121212;
}
.gs-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    .gs-top-text{
        margin:35px;
        color:white;
        font-size: 30px;
    }
}


.button{
    background-color: #1d1d1d;
    border: 2px solid rgb(92, 82, 185);
    font-size: 20px;
    height: 50px;
    width: 250px;
    font-family: $font;
    border-radius: 10px;
    color: white;
    transition: transform 100ms;

    &:hover{
        transform: translateY(-3px);
    }
}
